In [1]:
print("Hello world")

Hello world

In [8]:
from IPython.display import display
import pandas as pd
import numpy as np
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2, 'A', 4], columns=[48, 49, 50])

display(df)
# Pass `2` to `loc`
print(df.loc["A"])

# Pass `2` to `iloc`
print(df.iloc[2])

   48  49  50
2   1   2   3
A   4   5   6
4   7   8   9

48    4
49    5
50    6
Name: A, dtype: int32
48    7
49    8
50    9
Name: 4, dtype: int32

In [13]:
data = {"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"}
data2 =pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
# must index !
display("data2" + pd.DataFrame(data2))

                              0
United Kingdom      data2London
India            data2New Delhi
United States   data2Washington
Belgium           data2Brussels

In [21]:

# 수입에 따른 세금을 계산하는 프로그램
# 세율은 20% , 기본공제 10000, 추가공제 3000

print("Enter the gross income : ", end="")
income = int(input())
print(income)
print("Enter the number of dependents : ", end="")
dependents = int(input())
print(dependents)

taxrate = 0.2
standarddeduction = 10000
adddeduct = 3000
answer = (income - standarddeduction - (adddeduct * dependents)) * taxrate
print("your income tax :", answer)

Enter the gross income : 150000
Enter the number of dependents : 3
your income tax : 26200.0

In [23]:
class calc_tax():
    income = 0
    dependents = 0
    def __init__(self, income, dependents):
        self.income = income
        self.dependents = dependents
        
    def calc():
        print(income)
        print(dependents)
        
calc_tax(150000, 3)

In [26]:
import pandas as pd
import numpy as np
# Series 만들기 - index 포함해서 배열을 만들어 준다. - 1차원의 레이블이 있는 배열
data = pd.Series([1,2,3,4], index=['1-1','1-2','1-3','1-4'])
pd.DataFrame(data)

# 2d 리스트를 넣어서 데이터프레임을 만든 경우
pd.DataFrame([[1,2,3],
             [3,4,5],
             [6,7,8]], columns = ['open','close','volumn'])

# 딕셔너리 key = 열, value = 행
pd.DataFrame({"open" : [1,2,3],
             "close" : [2,3,4],
             "volume" : [3,4,5],
             }, index=['1-1','1-2','1-3'])

     open  close  volume
1-1     1      2       3
1-2     2      3       4
1-3     3      4       5

In [ ]:
# 재정리
# 수입에 따른 세금을 계산하는 프로그램
# 세율은 20% , 기본공제 10000, 추가공제 3000
print("수입에 따른 세금을 계산하는 프로그램")
# print("Enter the gross income : ", end="")
income = int(input("Enter the gross income : $"))
# print(income)
# print("Enter the number of dependents : ", end="")
dependents = int(input("Enter the number of dependents : "))
# print(dependents)

taxrate = 0.2
standarddeduction = 10000
adddeduct = 3000
answer = (income - (standarddeduction + adddeduct * dependents)) * taxrate
print(f"your income tax : ${answer:.2f}")

In [ ]:
# 읽기 header = 제목 , nrows = 일부 읽기, tap키로 나뉘었을 때 = '\t', ','로 나뉜건 그냥 csv파일 defalut, ';'로 나뉜건 ';' 로 하면됨
pd.read_csv("file.csv", header = None, nrows = 5, delimiter = '\t')
pd.read_excel("file.xlsx")

In [ ]:
# 쓰기
df.to_csv("myDataFrame.csv")
df.to_excel('dir/myDataFrame.xlsx', sheet_name = 'Sheet1')

In [ ]:
# 상위 5개 (default), 개수, 하위 5개 (default)
df.head()
df.head(2)
df.tail()
df.shape #속성
df.index #인덱스들
df.columns #컬럼들
df.dtypes
df.ndim # 디멘션
df.size
df.values
df.info()
df.count() #null 제외
df.astype() # 형변환
df.통계들 ...

In [ ]:
# 연습
df = pd.read_csv("https://raw.githubusercontent.com/nsethi31/Kaggle-Data-Credit-Card-Fraud-Detection/master/creditcard.csv")
df

In [ ]:
# 처음 다섯줄, 마지막 세줄 (head(), tail(3))
df.head(5)
df.tail(3)
# 데이터타입, 인덱스, 칼럼들, 값들 (dtypes, index, columns, values)
df.dtypes
df.index
df.columns
df.values
# 컬럼에 대한 통계 요약
df.describe()
# 데이터 정보
df.info()
# 금액에 따라 내림차순
df.sort_values(by="Amount", ascending=False)
# 칼럼 조회
df["V1"]
df.V1
# 행과 열
df.iloc[0]
df.iloc[-1]
df.iloc[:, 0]
df.loc[10:20, ['V1','V3']]
# 레코드를 짤라서 다음의 열과 행을 출력하라 loc : 숫자는 마지막것도 포함한다. 보통 String
# Rows 1 to 2
df[:2]
# Class and Amount
df[['Class',"Amount"]]
# 9 row of Amount column
df.loc[8, 'Amount']
# 4 to 5 rows of 1 and 4 columns
df.iloc[3:5, [0,3]]
df.loc[1:3] # iloc과의 차이점은 끝값을 포함하냐 안하냐 인덱스 1 to 3 모두 포함
df[df['Amount'] > 12]
df[df["V1"] == "V2"]
df[df["V1"].isin([0,1])]
# 데이터를 검색하여 다음의 열과 행을 출력
# Amount 가 100이상인 사람
df[df["Amount"] > 100]
# Time is in either 2, 4, or 7
df[df["Time"].isin([2,4,7])]
#복사
df1 = df.copy()

In [ ]:
# 새로운 값으로 대체
# 10.68 for Amount column at index 9
# Np null values for Amount column at index 9 (np.nan).
# 0.5 for all rows in V1 column. V1 컬럼 전체를 5로 바꾸기
df1 = df.copy()
df1.loc[9,["Amount"]] = 10.68
df1.loc[9,["Amount"]] = np.nan
df1["V1"] = 0.5
# Add new column named avg_V23 that is the average of V2 and V3.
# df.avg_V23 = df.loc[:,["V2","V3"]].mean()
df1["avg_V23"] = (df1.V2 + df1.V3) / 2
df1["avg_V23"]

# 칼럼이름 바꾸기. inplace = 할당안해도 자동저장
df1.rename(columns = {"Time":"time",
                     "Amount":"amount",
                     "Class":"class"},
          inplace=True)
df1.columns

# 파일 저장
# df_result = df1.head(5)
# df_result.to_csv("hiFinEdu.csv")

# iterrows
# for index, row in df.iterrows():
#     print(index, row["Amount"])