In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("NaverData.csv")
df1 = df.copy()

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       248 non-null    object
 1   Open       248 non-null    float64
 2   High       248 non-null    float64
 3   Low        248 non-null    float64
 4   Close      248 non-null    float64
 5   Adj Close  248 non-null    float64
 6   Volume     248 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.7+ KB

In [12]:
df1["변동률"] = ((df1["Close"] - df1["Open"]) / df1["Open"])  * 100
df1

,Date,Open,High,Low,Close,Adj Close,Volume,변동률
0,2022-07-01,240000.0,242500.0,233500.0,237000.0,235919.609375,527033,-1.250000
1,2022-07-04,237500.0,240000.0,230500.0,235000.0,233928.718750,512776,-1.052632
2,2022-07-05,238500.0,248500.0,237000.0,243000.0,241892.250000,654854,1.886792
3,2022-07-06,240000.0,249500.0,236500.0,243500.0,242389.968750,875386,1.458333
4,2022-07-07,246000.0,249000.0,243000.0,245000.0,243883.140625,547620,-0.406504
...,...,...,...,...,...,...,...,...
243,2023-06-26,187700.0,191200.0,187600.0,188900.0,188900.000000,489487,0.639318
244,2023-06-27,188000.0,188000.0,184100.0,185900.0,185900.000000,877288,-1.117021
245,2023-06-28,187500.0,188100.0,182800.0,184800.0,184800.000000,717140,-1.440000
246,2023-06-29,183800.0,186200.0,183400.0,183400.0,183400.000000,578195,-0.217628
247,2023-06-30,183300.0,184500.0,180600.0,182800.0,182800.000000,683584,-0.272777